* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  background: #f9f9f9;
}

a {
  text-decoration: none;
}

.container {
  padding: 10px;
}

.button {
  width: 160px;
  text-align: center;
  align-self: center;
  border-radius: 8px;
  text-decoration: none;
  padding: 12px;
}

.mobile-header {
  display: flex;
  flex-direction: column;
}

.sup-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: white;
}

.nav-links {
  display: none;
  flex-direction: column;
  background: #398ebc;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.nav-links a {
  color: white;
  padding: 5px;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(/resources/img/clinic.jpg);
  background-repeat: no-repeat;
}

.presentation img {
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 10px;
}

.clinical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-size: 1.2em;
  background: #1c375c;
  color: white;

}

.clinical h1 {
  top: 0;
  margin-top: 0;
}

.clinical ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.clinical a {
  margin-bottom: 15px;
  color: white;
  background: #398ebc;
  margin-bottom: 0;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-size: 1.2em;
  background: #4e4747;
  color: white;
}

.contact h1 {
  top: 0;
  margin-top: 0;
}

.contact a {
  margin-bottom: 15px;
  color: white;
  /* background: #398ebc; */
  margin-bottom: 0;
}