body {
  background: #1c375c;
}

.care-index {
  background: #1c375c;
  color: white;
}
.care-index h2 {
  color: #3498db
}
.hidden {
  display: flex;
}

.active {
  display: flex;
}

.top-nav {
  background: white;
}