* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  background: #f9f9f9;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

html,body{
  overflow-x: hidden;
}

.container {
  padding: 10px;
}

.margins {
  margin-top: 0;
  margin-bottom: 0;
}

.button {
  width: 160px;
  text-align: center;
  align-self: center;
  border-radius: 8px;
  text-decoration: none;
  padding: 12px;
}

.active {
  background: #4e4747;
}

.mobile-header {
  display: flex;
  flex-direction: column;
}

.sup-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: white;
}

.medias {
  display: none;
}

.nav-links {
  display: none;
  flex-direction: column;
  background: #398ebc;
  box-shadow: 0px 8px 1px 0px rgba(0, 0, 0, 0.2);
}

.nav-links a {
  color: white;
  padding: 5px;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(/resources/img/clinic.jpg);
  background-repeat: no-repeat;
}

.presentation img {
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 10px;
}

.clinical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-size: 1em;
  background: #1c375c;
  color: white;
}

.clinical h1 {
  top: 0;
  margin-top: 0;
}

.clinical ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.clinical a {
  margin-bottom: 15px;
  color: white;
  background: #398ebc;
  margin-bottom: 0;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-size: 1em;
  background: #4e4747;
  color: white;
}

.contact h1 {
  top: 0;
  margin-top: 0;
}

.contact a {
  margin-bottom: 15px;
  color: white;
  margin-bottom: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  background: #4e4747;
  color: white;
}

.footer img {
  border-radius: 8px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-column h1 {
  color: lightblue;
}

.bottom-footer {
  color: white;
  background: #1c375c;
  text-align: center;
}

/*Clinic area design*/
.clinic-background {
  padding-top: 2px;
  background: #1c375c;
  color: white;
}
.carousel-item {
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* Arrumar media query para quebra em todas as dimensoes possiveis FOTOS */
.carousel-item img {
  width: 360px;
  height: 300px;
  margin: 0 auto;
}

@media only screen and (min-width: 640px) {
  .menu-bars {
    display: none;
  }

  .active {
    background: none;
  }

  .sup-header {
    justify-content: space-between;
    border: none;
  }
  .medias {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /* width: 50vw; */
  }

  .medias img {
    width: 25px;
    height: 25px;
    margin-left: 35px;
  }

  .nav-links {
    background: white;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  .nav-links a{
    color: #4e4747;
    justify-content: space-around;
    font-size: 20px;
  }

  .nav-links a:hover {
    color: #398ebc;
    border-bottom: #398ebc 1px solid;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .desktop-align {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    font-weight: bold;
    font-size: 22px;
  }

  .clinical {
    width: 50vw;

  }

  .clinical a {
    width: 500px;
  }

  .contact {
    width: 50%;
  }

  }









contact-header {
  display: none
}
