* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

html,body{
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

button {
  color: #7ac6da;
  border-radius: 8px;
  border: none;
}

.container {
  padding: 10px;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  color: black;
  align-items: center;
  width: 100vw;
  flex-flow: column wrap;
}

.top-nav img {
  width: 35vw;
  height: 16vh;
}

.top-nav a {
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.desktop-header {
  display: none;
}

.active {
  background: #4e4747;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1c375c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  color: black;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
  list-style: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.top-nav a:hover,
.dropdown:hover .dropdown-button {
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.sup-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  left: 0;
  width: 98vw;
  right: 0;
  box-shadow: 0 8px 6px -6px black;
}

.nav-links {
  display: none;
  flex-flow: column wrap;
  background: #398ebc;
  width: 100vw;
}

.nav-links a {
  display: block;
  width: 90vw;
  color: white;
}

.menu-bars {
  align-self: flex-end;
}

.presentation {
  display: flex;
  flex-flow: column wrap;
  width: 100vw;
  color: #1c375c;
  background: url(/resources/img/clinic.jpg);
  background-position: top;
  align-items: center;
}

.presentation img {
  width: 60vw;
  height: 30vh;
  border-radius: 36px;
  overflow: hidden;
  margin: 0 auto;
}

.presentation h2 {
  color: black;
  text-align: center;
  font-weight: bold;
}

.care {
  background: #1c375c;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  font-size: 1.5em;
}

.next-page {
  width: 40vw;
  margin: 0 auto;
  background: #3498db;
  border-radius: 16px;
}

.next-page a {
  color: white;
  padding: 10px;
}

.care ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-area {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  background-color: #1c375c;
  width: 100vw;
  color: white;
  font-size: 1.4em;
}

.contact-area a {
  color: white;
}

.call-us {
  margin: 0 auto;
  background: #1c375c;
  color: white;
  border-radius: 16px;
  width: 60vw;
}

.map {
  background: white;
  color: #1c375c;
  font-size: 1.8em;
  text-align: center;
  width: 100vw;
}

footer {
  background: #4e4747;
  color: white;
}

footer h2 {
  color: lightblue;
}

.footer-column {
  display: flex;
  width: 98vw;
  flex-flow: column nowrap;
  list-style: none;
  justify-content: center;
}

.footer-column img {
  margin: 0 auto;
  width: 40vw;
  height: 20vh;
  border-radius: 28px;
}

.bottom-footer {
  background: #1c375c;
  color: white;
  font-weight: bold;
  text-align: center;
}

.bottom-footer p {
  border-bottom: white solid 1px;
}

.site-map a{
  text-decoration: none;
  color: white;
  }

@media only screen and (min-width: 640px) {
  body {
    background: #f9f9f9
  }

  .top-nav {
    display: none;
  }

  .desktop-header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 0 auto;
    background: white;
    color: #1c375c;
  }

  .desktop-header img {
    width: 20%;
    height: 20%;
    margin: 0 auto;
  }

  .desktop-buttons {
    background: #398ebc;
    color: white;
    width: 18vw;
  }

  .desktop-nav a:hover  {
    color: #3498db !important;
    border-bottom: 1px solid #398ebc !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .logo-div {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-self: center;
    align-items: center;
    width: 90vw;
    border-bottom: 1px solid #1c375c;
  }

  .header-contact {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #3498db;
    text-align: center;
  }

  .header-contact a {
    text-decoration: none;
    color: white;
    border-radius: 8px;
    background: #7ac6da;
  }

  .header-contact a:hover {
    color: #3498db;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .desktop-header a {
    font-size: 1.5em;
    text-decoration: none;
  }

  .desktop-nav-items {
    color: pink;
  }

  .dropdown-content {
    color: #398ebc;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1c375c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    color: black;
    z-index: 1;
  }

  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
    list-style: none;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .desktop-header a:hover,
  .dropdown:hover .dropdown-button {
    color: #1c375c;
    border: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
    color: #3498db;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .presentation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background-size: 98vw;
  }

  .presentation img {
    width: 60%;
    height: 60%;
    padding: 30px;
    border-radius: 20%;
  }

  .presentation-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .presentation {
    background-position: center;
    background-repeat: space;
    width: 98vw;
    margin: 0 auto;
  }

  .desktop-care {
    display: flex;
    flex-flow: row nowrap;
    max-width: 100vw;
    align-items: left;
  }

  .care {
    display: flex;
    width: 50vw;
    text-align: center;
  }

  .care h1 {
    text-align: left;
  }

  .next-page {
    text-align: center;
    width: 30vw;
    align-self: left;
    margin: 0 auto 0 0 ;
  }

  .contact-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    width: 50vw;
  }

  .call-us {
    width: 30vw;
    align-self: left;
    border-radius: 16px;
    color: white;
    background: #3498db;
    margin: 0 auto 0 0;
    text-align: center;
  }


  .desktop-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  .desktop-footer img {
    width: 10vw;
    border-radius: 28px;
  }

  .footer-column {
    display: flex;
    flex-flow: column wrap;
    max-width: 30vw;
    text-align: left;
  }

  .footer-column h2 {
    font-size: 1.8em;
  }


  /* Caroulsel design */
  .carousel-item {
    max-width: 33vw;
    width: 30vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
  }


  .carousel-content img {
    max-width: 20vw;
    border-radius: 10px;
    overflow: hidden;
  }

  .carousel-content h3 {
    width: 25vw;
  }


}



/* care page design */

.care-index {
  background: #1c375c;
  color: white;
}

.care-index h1 {
  color: #3498db
}

.carousel {
  border-top: 3px solid #3498db;
  border-bottom: 3px solid #3498db;
}

.carousel-item img {
  width: 80vw;
}