* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  color: #435589;
}

a {
  text-decoration: none;
}

.container {
  padding: 10px;
}

.menu-bg {
  color: black;
  width: 100vw;
}

.menu {
  color: black;
  background: lightblue;
  border-radius: 4px;
}