* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

button {
  color: #7ac6da;
  border-radius: 8px;
  border: none;
}

.container {
  padding: 10px;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  color: black;
  align-items: center;
  width: 100vw;
  flex-flow: column wrap;
}

/* adicionar media query */
.top-nav img {
  width: 35vw;
  height: 16vh;
}

.top-nav a {
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.desktop-header {
  display: none;
}


.active {
  background: #4e4747;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1c375c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  color: black;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
  list-style: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.top-nav a:hover,
.dropdown:hover .dropdown-button {
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.sup-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  left: 0;
  width: 100vw;
  right: 0;
  box-shadow: 0 8px 6px -6px black;
}

.desktop-container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

/* adicionar media query */
.nav-links {
  display: none;
  flex-flow: column wrap;
  background: #398ebc;
  width: 100vw;
}

.nav-links a {
  display: block;
  width: 90vw;
  color: white;
}

.menu-bars {
  align-self: flex-end;
}

.presentation {
  display: flex;
  flex-flow: column wrap;
  width: 100vw;
  color: #1c375c;
  background: url(/resources/img/clinic.jpg);
  background-position: top;
}

.presentation img {
  width: 60vw;
  height: 30vh;
  border-radius: 36px;
  overflow: hidden;
  margin: 0 auto;
}

.presentation h2 {
  color: black;
  text-align: center;
  font-weight: bold;
}

.care {
  background: #1c375c;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  font-size: 1.4em;
}

.next-page  {
  width: 60vw;
  margin: 0 auto;
  background: #3498db;
  color: white;
  border-radius: 16px;
}

.care ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-area {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  background-color: #3498db;
  width: 100vw;
  color: white;
  font-size: 1.4em;
}

.contact-area a {
  color: white;
}

.call-us {
  margin: 0 auto;
  background: #1c375c;
  color: white;
  border-radius: 16px;
  width: 60vw;
}

.map {
  background: white;
  color: #1c375c;
  font-size: 1.8em;
  text-align: center;
  width: 100vw;
}

footer {
  background: #4e4747;
  color: white;
}

footer h2 {
  color: lightblue;
}

.footer-column {
  display: flex;
  width: 98vw;
  flex-flow: column nowrap;
  list-style: none;
  justify-content: center;
}

.footer-column img {
  margin: 0 auto;
  width: 40vw;
  height: 20vh;
}

.bottom-footer {
  background: #1c375c;
  color: white;
  font-weight: bold;
  text-align: center;
}

.bottom-footer p {
  border-bottom: white solid 1px;
}




@media only screen and (min-width: 640px) {

  .top-nav {
    display: none;
  }

  .desktop-header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 0 auto;
    text-decoration: none;
  }

  .desktop-header img {
    width: 20vw;
    height: 20vh;
    margin: 0 auto;
  }

  .dropdown-content {
    color: white;
  }

}






/* care page design */

.care-index {
  background: #1c375c;
  color: white;
}
.care-index h2 {
  color: #3498db
}

.top-nav {
  background: white;
}

.carousel {
  border-top: 3px solid #3498db;
  border-bottom: 3px solid #3498db;
}

.carousel-item img{
  width: 80vw;
}